.wb
  #laruby-logo
    = image_tag "la-ruby-logo.png"
  #next-meetup
    .nxm-date.redText
      = @next_meetup.pretty_date
    .nxm-location
      %h2
        = @next_meetup.business
      %p
        = @next_meetup.street
        %br
        = @next_meetup.city_state
        %br
    .nxm-time
      = @next_meetup.pretty_time
  .clear
