<div id="first-row">
  <%= @rss_feed.to_html %>
</div> 

<div id="second-row">
<div id="meetup">
   <h2>Next Meetup:<br />Thursday, Jan 15, 2009 7:00 PM</h2>
   <p><strong>Location:</strong><br />
  	<strong>UCI Campus</strong><br />
      680 California<br />
      Irvine, CA 92617 <br />
	</p>
	<p>
	 More details to follow. This one is the furthest South that we've held yet. But we should have a great turn out and meet some more of our members. We're looking for presenters, and we also are planning on some code crunching time. So be sure to bring your notebook and learn some new things about Ruby.
	</p>

<iframe width="475" height="335" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=680+California,+Irvine,+CA+92617+&amp;sll=33.656067,-117.833347&amp;sspn=0.089019,0.147114&amp;ie=UTF8&amp;ll=33.653923,-117.825108&amp;spn=0.011129,0.018389&amp;z=14&amp;iwloc=addr&amp;output=embed&amp;s=AARTsJoxqICWknnIZngEOtjXavZrogv0PQ"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=680+California,+Irvine,+CA+92617+&amp;sll=33.656067,-117.833347&amp;sspn=0.089019,0.147114&amp;ie=UTF8&amp;ll=33.653923,-117.825108&amp;spn=0.011129,0.018389&amp;z=14&amp;iwloc=addr&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

	
<br />
</div>

<div class="seperator"></div> 

<div id="meetup">
    <h2>Next Meetup:<br />Thursday, Dec 18, 2008 7:00 PM</h2>
    <p><strong>Location:</strong><br />
   	<strong><%= link_to "The Americana at Brand", "http://www.americanaatbrand.com/", {:target => "_blank"} %></strong><br />
    722 Americana way<br />
		The Marc Building - Grand Room<br />
		Glendale, CA 91210<br />
		818.660.2617 <br />
  <p>
		Aah - the holidays! Since we've all done such a great job in keeping our meetings rolling - we figured we'd do something special for the December meeting. i-Hire and AT&amp;T Interactive are sponsoring a special meetup at the <strong>Americana at Brand in Glendale for December 18th</strong>. <strong>We are catering in food, beer, wine, soft drinks, etc.</strong>
</p>
<p>
The venue is a little smaller (we figure we can accommodate a maximum of about 45 people). But if we have more, we'll find a way to make it work. <strong>BE SURE TO RSVP</strong>.
</p>
<p>
We are looking for a couple of people to do presentations and we'll have a short round of 'lightening talks'. Past that - it should be a nice night of socializing with friends. If you are new to the group and would like a casual night to check us out - this would be a great opportunity.
</p>
<p>
<strong>How to find us</strong>: Arrive at the parking tower at the Americana and locate the Wetzels Pretzels kiosk. Just south of the kiosk - enter the iron gates labeled "The Marc". There should be a doorman standing there to let you in (if your name is on the guests list).
</p>
<p>Got Questions? email us: <script type="text/javascript">
	var address = Array();
	address.push("info");
	address.push("@");
	address.push("laruby");
	address.push(".");
	address.push("com");
	document.write(address.join(""));
</script></p>

<br />
</div>

<div class="seperator"></div>  
  
  <div id="meetup">
    <h2>Next Meetup:<br />Thursday, Nov 20, 2008 7:00 PM</h2>
    <p>
    What: <strong>LA Ruby/Rails Meetup # 6</strong> <br />
    When: <strong>Thursday, November 20, 2008 7:00 PM</strong><br />
    Where: <strong>Boelter Hall 4760 at UCLA</strong><br />
    Meetup Description: <strong>LARuby/Rails Meetup #6</strong><br />
    <br />
   <strong> WHERE:UCLA</strong><br />
    <strong>Boelter Hall 4760 at UCLA</strong><br />
<br />
   <strong> WHO SHOULD COME</strong><br />
    All LARuby members and anyone interested in<br /> 
    learning more about Ruby<br />
    networking or just eating some food.<br />
    <p><%= link_to "Google Map", "http://maps.google.com/maps?daddr=34.06887569,-118.4429572", :target => "_blank" %></p>
			<p>
			An interactive UCLA map is available at the following URL. 
			Choose '<strong>Boelter Hall</strong>' from the list of buildings and hit search.<br/>
			<%= link_to "UCLA Map", "http://maps.ucla.edu/campus/", :target => "_blank" %>
			</p>
			<p>
				Alternatively, a PDF map is available at:<br />
				<%= link_to "http://www.ucla.edu/map/map-w-bldgs-jul08.pdf", "http://www.ucla.edu/map/map-w-bldgs-jul08.pdf" %>
			</p>
			<p>
				<strong>Boelter Hall</strong> building is adjacent to the engineering buildings and P. Lot 9.
				Sadly, parking is a pain in the ass, so unless you can find a spot on
				the street, the best places to park are lots #6, #8 and #9. Lot #6 is
				metered, though not cheap, and lots #9 and #8 will allow a daily pass for
				about $9. From #6 and #8, walk east a couple blocks to reach <strong>Boelter hall</strong>,
				then go to the <strong>4th floor</strong> to find us in <strong>room 4760</strong>. From #9, it's less
				than a block north.
				<br /><br />
				See you there!
			</p>
<br />
    </p>
  </div>
<div class="seperator"></div>  
  <div id="meetup">
    <p>
    What: <strong>LA Ruby/Rails Meetup # 5</strong> <br />
    When: <strong>October 16, 2008 7:00 PM</strong><br />
    Where: Click the link below to find out!<br />
    Meetup Description: LARuby/Rails Meetup #5<br />
    <br />
    WHEN:<br />
    <strong>Thursday, October 16th, 2008 at 7:00 PM</strong><br />
    <br />
    WHERE:<br />
    <strong>Yellowpages.com</strong><br />
    611 N. Brand Blvd.<br />
    Glendale, CA 91203<br />
    (818) <br />
<br />
    WHO SHOULD COME<br />
    All LARuby members and anyone interested in<br /> 
    learning more about Ruby<br />
    on Rails, networking or just eating some food.<br />
<br />
    </p>
  </div>
</div>


